* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #F3F3F3;
    ;
}

/* header section */
.header {
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    min-height: 800px;
}

.banner-container {
    width: 40%;
    margin-left: auto;
    padding: 10%;
    text-align: right;
}

.banner-title {
    font-weight: 700;
    line-height: 76px;
    font-size: 65px;
}

.author {
    display: inline-block;
    margin-top: 20px;
    color: green;
    font-weight: 500;
}

.banner-description {
    color: #444343;
    line-height: 26px;
    margin-top: 24px;
}

.banner-btn {
    height: 64px;
    padding: 23px;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
}

/* main section */

/* failure section */
.failure-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.img-container {
    width: 50%;
}

.img-inner-container {
    background-image: url('../images/shape-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 80%;
}

.failure-image {
    width: 100%;
    height: 100%;
}

.failure-details {
    width: 50%;
    margin-top: 20%;
}

.failure-details-title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.failure-details-description {
    line-height: 26px;
    margin-bottom: 16px;
}

.failure-details ul {
    padding-left: 0;
}

.failure-details ul li {
    list-style-type: none;
    margin-bottom: 8px;
    color: #444343;
}

.check-icon {
    color: #16D887;
    margin-right: 10px;
}

/* plan section */
.plans-container {
    text-align: center;
    margin-top: 130px;
}

.plan-section-title,
.manage-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 80px;
}

.plan-items-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.plan-item {
    width: 25%;
}

.plan-item-title,
.manage-item-title {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin: 16px 0;
}

.plan-item-description,
.manage-item-description {
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #737272;
}

/* contact section */
.contact-container {
    width: 75%;
    border-radius: 8px;
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
    margin: 124px auto 80px;
    color: white;
    padding: 59px 0 0 64px;
}

.contact-title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.call-now-btn {
    height: 70px;
    padding: 0px 36px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border-radius: 5px;
    background: #FFFFFF;
    border: none;
}

/* manage section  */
.manage-container {
    width: 75%;
    margin: 0 auto;

}

.manage-items-container {
    display: flex;
    gap: 30px;
}

.manage-item-title,
.manage-item-description {
    color: white;
    margin-bottom: 30px;
}

.manage-title {
    text-align: center;
}

.manage-item {
    background-color: #0f153c;
    width: 30%;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
}

.manage-item:hover {
    background-color: #F15B22;
}

/* footer section   */
.footer {
    width: 100%;
    background-color: #151414;
    color: white;
    margin-top: 130px;
    padding: 130px 0;
}

.footer-section {
    width: 75%;
    display: flex;

    justify-content: space-between;
    margin: 0 auto;
}

.footer-left {
    width: 40%;
}

.footer-title {
    font-size: 45px;
    margin-bottom: 16px;
    color: #F8F8F8;
}

.footer-description {
    line-height: 26px;
}

.footer-right {
    width: 40%;
}

.footer-left img {
    display: inline-block;
    margin-right: 15px;
    margin-top: 30px;
}

.footer-right-title {
    font-size: 25px;
    margin-bottom: 31px;
}

.footer-right input[type='email'] {
    display: block;
    width: 75%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #151414;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #F3F3F3;
    font-size: 18px;

}